name: Build Methuselah ISO

on:
  schedule:
    - cron: "0 5 1 * *"
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Free up space
        uses: jlumbroso/free-disk-space@main
        with:
            tool-cache: false
            android: false
            dotnet: true
            haskell: false
            large-packages: false
            docker-images: false
            swap-storage: false

      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Build ISO
        id: build
        run: |
            nix build .#nixosConfigurations.Methuselah.config.system.build.isoImage --print-build-logs
            echo "ISO_PATH=$(readlink -f ./result/iso/*.iso)" >> $GITHUB_ENV

      - name: Checksum && Split ISO
        id: split
        run: |
            SHA_SUM=$(sha256sum "$ISO_PATH" | awk '{print $1}')
            echo "SHA_SUM=$SHA_SUM" >> $GITHUB_ENV
            split -d -b 1900M "$ISO_PATH" "methuselah.iso."
            echo "pattern=methuselah.iso.*" >> $GITHUB_OUTPUT

      - name: Generate Release
        run: |
            cat <<EOF > RELEASE_NOTES.md
            ### Methuselah ISO Build #${{ github.run_number }}

            **Date:** $(date +'%Y-%m-%d')
            **SHA256:** \`$SHA_SUM\`

            The ISO is split to bypass GitHub's 2GB file limit.

            #### Combine
            **Linux/macOS:**
            \`\`\`bash
            cat methuselah.iso.* > methuselah.iso
            \`\`\`

            **Windows (PowerShell/CMD):**
            # Fuck knows if this works dude.
            I actually do now. Not really, this one does though!

            \`\`\`cmd
            copy /b methuselah.iso.* methuselah.iso
            \`\`\`
            EOF

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
            tag_name: methuselah-iso-${{ github.run_number }}
            name: "Methuselah ISO ${{ github.run_number }}"
            body_path: RELEASE_NOTES.md
            files: ${{ steps.split.outputs.pattern }}
            make_latest: true
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Delete old releases
        uses: dev-drprasad/delete-older-releases@v0.3.4
        with:
            keep_latest: 3
            delete_tags: true
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
